@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Configuração para padronizar e facilitar a ultilização da paleta de cores e fontes para o css  */
:root{
    --background:#000000;
    --red:#C20000;
    --blue:#001F70;
    --gradient:linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font:'Titillium Web', sans-serif;
    --font2:'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* em tags nativas do sistema não é necessário inserir o ponto para que seja reconhecido no css */
body{
    font-family: var(--font);
    background-color: var(--background);
    font-size: 16px;
}

img{
    width: 100%;
}

.topo{
    width: 100%;
    height: 5em;
    /* background-color: grey; */
    /* font-size: 16px; */
    /*em considera a altura da fonte definida no código 
    rem pega o padrão do navegador é de 16px */
}
.content{
    width: 80%;
    max-width: 75em;/* 1200px /16 */    
    height: 100%;
    margin: auto;
    color: #fff;
    /* background-color: rgb(248, 173, 143);     */
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width: 19em;
}

.menu{
    width: 100%;
    max-width: 50em;      
}

.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu a{
    color: #fff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
}

.menu a:hover{
    background-color: var(--red);
}

#menu-bars{
    display: none;
}

.banner{
    width: 100%;
    position: relative;
}

.banner-position{
    width: 100%;
    max-width: 100%;
    /* background-color: rgba(238, 130, 238, 0.466); */
    position: absolute;
    top: 0;
    margin-top: 7.5%;/* foi necessário inserir um margin-top, pois os elemntos não estavam ficando na posição como o exemplo do prof */
}

.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    /* background-color: rgba(255, 255, 0, 0.534); */
    display: flex;
    justify-content: flex-end;
}

.banner-text{
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text h1{
    font-size: 5em;
}

.banner-text p{
    font-size: 1.9em;/* aumentei a fonte em 0.3em para alinhar-se com o h1 */
    color: white;
}

.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    margin-top: 1em;
}

.jogos{
    width: 100%;
    height: 7.5em;
    /* background-color: white; */
}

.jogos ul{
    list-style-type: none;
    width: 100%;
}

.jogos ul a:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}


.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    color: white;  
    position: relative;  
}

.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.angulation{
    width: 100%;
    height: 25em;
    background-color: var(--background);
    transform: skewY(-3deg);
}

.about-position{
    width: 100%;
    height: 100%;
    /* background-color: rgba(172, 255, 47, 0.253); */
    position: absolute;
    top: 0;
}

.about-position img{
    max-width: 31em;
}

.about-text{
    width: 50%;
    text-align: justify;
}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
}

.about-text p{
    font-size: 1.25em;    
    margin-bottom: 1em;
}

.jogos-aovivo::after{
    content: '';
    border: solid 1px #fff;
    height: 2em;
    margin-left: 1em;
    /* pesquisar mais sobre after e before */
}
.jogos-aovivo, .jogos-embreve{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.875em; /* 30px dividido por 16px ---- 30px o novo padrão da sessão*/
}

.partida{
    width: 9.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.7em;
    
}

.partida img{
    width: 1.8em; /* valor referente a padronização de tamanho em jogos-aovivo, neste caso foi necessário dividir os 54px do padrão por 30px do "pai de todos" */
}

.time1, .time2{
    display: flex;
    align-items: center;
}

.time1 img{
    margin-left: 0.3em;
}

.time2 img{
    margin-right: 0.3em;
}

.noticias{
    background-color: #1E1C21;
}

/* inicio ASIDE */
.futuras{
    width: 15em;/* 240px */
    height: 48.4em;/* 750px */
    background-color: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    font-family: var(--font2);
    color: #fff;
    float: right;
    margin-left: 5em;
}

.partida2 p{
    text-align: center;
    font-size: 1em;
}

.partida-futura{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.8em;
    margin-bottom: 2em;
    font-size: 1.12em;
    text-transform: uppercase;
}
.partida-futura img{
    width: 2em;
}

/* TÉRMINO ASIDE */

.titulo{
    color: #fff;
    font-family: var(--font2);
    font-size: 2em;
    margin-bottom: 1em;
}
.conteudo-news{
    color: #fff;
    font-family: var(--font2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: relative;  */
}

.conteudo-news h2{
    font-size: 2em;
    margin-bottom: 1em;
    
}

.card{
    width: 14.8125em;/* 364px */
    height: 22.75em;/* 237px */
    background-color: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    margin-bottom: 3em;
}
.card article{
    margin: 1em;
    text-align: justify;
    margin-bottom: 1em;
}

.logo{
    height: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font2);
}

.links-uteis{
    width: 33.33%;
    font-size: 0.75em; 
}

.lista-rodape{
    list-style-type: none;
}

.lista-rodape h3{
    margin-bottom: 1em;
}

.lista-rodape a{
    color: #fff;
    text-decoration:none;
    
}

.logo img{
    width: 55%;
}

.p-rodape{
    font-size: 0.875em;
}


@media screen and (max-width: 74.93em)/* 1199px /16 */{
}

@media screen and (max-width: 47.93em)/* 767px /16 */ {

}

@media screen and (max-width: 35.93em)/* 575px /16 */{

}
